In [3]:
# Считайте данные из Google Sheets, при помощи библиотеки requests.
# Посчитайте процент мужчин среди всех посетителей сайта, округлите ответ до целых.
# Воспользуйтесь этим кодом, чтобы перевести данные из реквеста в пандас

# from io import BytesIO

# import requests


# req = requests.get(your_link)
# data = req.content

# df = pd.read_csv(BytesIO(data))

import pandas as pd
from io import BytesIO
import requests
import numpy as np


req = requests.get('https://docs.google.com/spreadsheets/d/1e3PRXmMNXo9AZZnaol1aHgYxtH6KYaCDymEQlK6jaO8/export?format=csv')
data = req.content

data = pd.read_csv(BytesIO(data))

data['percent'] = (data.users / data.users.sum() * 100).round(0)

In [4]:
data

         date         gender  users  percent
0  2020-06-14  Not specified    150     52.0
1  2020-06-14           male    117     41.0
2  2020-06-14         female     21      7.0

In [3]:
# При помощи функции np.where создайте серию, в которую будет записываться 1,
# если посещения были сделаны роботами с браузера, содержащего Chrome в названии, и 0 в других случаях.
# Поместите получившуюся серию в переменную chrome_robots.

df = pd.read_csv('7_browser.csv')
df['chrome_robots'] = df.browser.str.contains('Chrome') & df.user_type.str.contains('Robots')
chrome_robots = pd.Series(np.where(df.chrome_robots, 1, 0))
chrome_robots

0     0
1     0
2     1
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    1
20    0
21    0
22    0
23    0
dtype: int64

In [4]:
df

          date           browser user_type  users  chrome_robots
0   2020-06-14     Google Chrome    People    139          False
1   2020-06-14     Chrome Mobile    People     35          False
2   2020-06-14     Google Chrome    Robots     28           True
3   2020-06-14    Yandex Browser    People     22          False
4   2020-06-14           Firefox    People     15          False
5   2020-06-14            Safari    People     13          False
6   2020-06-14           Firefox    Robots      8          False
7   2020-06-14   Android Browser    People      8          False
8   2020-06-14             Opera    People      5          False
9   2020-06-14     Mobile Safari    People      5          False
10  2020-06-14  Samsung Internet    People      5          False
11  2020-06-14            Safari    Robots      2          False
12  2020-06-14             UCWEB    Robots      2          False
13  2020-06-14              Edge    Robots      2          False
14  2020-06-14             Opera    Robots      1          False
15  2020-06-14             UCWEB    People      1          False
16  2020-06-14    Firefox Mobile    People      1          False
17  2020-06-14    Yandex Browser    Robots      1          False
18  2020-06-14   Android Browser    Robots      1          False
19  2020-06-14     Chrome Mobile    Robots      1           True
20  2020-06-14          Chromium    People      1          False
21  2020-06-14          Chromium    Robots      1          False
22  2020-06-14              Edge    People      1          False
23  2020-06-14            CocCoc    People      1          False

In [5]:
# У вас есть датасет с данными о кликах и показах по объявлению, в котором есть пропуски.
# Вычислите количество строк без пропусков в колонке click_type. Запишите ответ в переменную not_nan_count

# ad_id – id объявления
# user_id – id пользователя
# click_type – тип клика (клик по заголовку объявления, клик по центру)
# Данные сохранены в переменную df.

dff = pd.read_csv('sample_ads.csv')
not_nan_count = dff.click_type.notna().sum()
not_nan_count

11

In [6]:
dff

    ad_id user_id click_type
0   12345   qwert        top
1   12345   fsssc     center
2   12345   vfvgg        NaN
3   12345   asrvv        NaN
4   12345   tynuy        top
5   12345   vreio        NaN
6   12345   oirbv        top
7   12345   kjvbe        NaN
8   12345   vkrej     center
9   12345   krjvb        top
10  12345   vrejn        top
11  12345   vrejk     center
12  12345   pirbv        NaN
13  12345    mpev        NaN
14  12345  pi3bvk        top
15  12345  osbvor     center
16  12345   vrbuo        NaN
17  12345   o3b0v        top

In [14]:
# В списке lst находятся различные элементы. Создайте список new_list и сделайте следующее:

# при помощи конструкции try except и цикла попробуйте преобразовать каждое значение в листе в int
# если это получилось – добавьте преобразованное значение  в список new_list

lst, new_list = [0, 1, 2, 'khuy', 3, 3956, 'sdfg'], []
for i in lst:
    try:
        new_list.append(int(i))
    except:
        continue
new_list

[0, 1, 2, 3, 3956]

In [12]:
lst, new_list = [0, 1, 2, 'khuy', 3, 3956, 'sdfg'], [i for i in lst]

SyntaxError: invalid syntax (<ipython-input-12-8b58316cc727>, line 1)