In [2]:
# Импортируйте библиотеку pandas как pd. Прочитайте датасет bookings.csv с разделителем ;
# Ссылка на датасет находится в переменной path_to_file.
# Сохраните прочитанный датасет в bookings. Затем запишите первые 7 строк в переменную bookings_head

import pandas as pd
bookings = pd.read_csv('2_bookings.csv', sep = ';')
bookings_head = bookings.head(7)
bookings_head

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

In [2]:
bookings.dtypes.value_counts()

object     10
int64      10
float64     1
dtype: int64

In [3]:
# Приведение колонок в удобный вид
def replace_space_with_underscore(columns):
    columns_ = columns.replace(' ', '_')
    return columns_
bookings = bookings.rename(columns = replace_space_with_underscore)
bookings.columns = bookings.columns.str.lower()
bookings

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,...,2,0.0,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,...,3,0.0,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,...,2,0.0,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07

In [4]:
# Пользователи из каких стран совершили наибольшее число успешных бронирований?
# Бронирование считается успешным, если в дальнейшем не было отменено (переменная is_canceled).
# В качестве ответа выберите страны, входящие в топ-5.

bookings.query('is_canceled == 0') \
    .country \
    .value_counts()

PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
       ...
SDN        1
NCL        1
TJK        1
MLI        1
FRO        1
Name: country, Length: 165, dtype: int64

In [5]:
bookings.shape

(119390, 21)

In [6]:
# На сколько ночей (stays_total_nights)  в среднем бронируют отели типа City Hotel? Resort Hotel?
# Запишите полученные значения в пропуски с точностью до 2 знаков после точки.

bookings \
    .groupby(['hotel'], as_index = False) \
    .agg({'stays_total_nights': 'mean'}) \
    .round(2)

          hotel  stays_total_nights
0    City Hotel                2.98
1  Resort Hotel                4.32

In [7]:
# Иногда тип номера, присвоенного клиенту (assigned_room_type), отличается от изначально забронированного (reserved_room_type).
# Такое может произойти, например, по причине овербукинга. Сколько подобных наблюдений встретилось в датасете?

bookings \
    .query('reserved_room_type != assigned_room_type') \
    .shape

(14917, 21)

In [8]:
# Теперь проанализируйте даты запланированного прибытия (arrival_date_year).
# На какой месяц чаще всего оформляли бронь в 2016 году? Изменился ли самый популярный месяц в 2017?

bookings \
    .query('arrival_date_year == 2017') \
    .arrival_date_month \
    .value_counts() \
    .idxmax()

'May'

In [10]:
# Сгруппируйте данные по годам, а затем проверьте, на какой месяц (arrival_date_month)
# бронирования отеля типа City Hotel отменялись чаще всего в 2015? 2016? 2017?

bookings.query('hotel == "City Hotel" & is_canceled == 1') \
    .groupby('arrival_date_year')['arrival_date_month'] \
    .value_counts()

arrival_date_year  arrival_date_month
2015               September             1543
                   October               1321
                   August                1232
                   July                   939
                   December               668
                   November               301
2016               October               1947
                   June                  1720
                   September             1567
                   April                 1539
                   May                   1436
                   November              1360
                   August                1247
                   March                 1108
                   December              1072
                   July                  1043
                   February               930
                   January                438
2017               May                   2217
                   April                 1926
                   June                  1808
                   July                  1324
                   March                 1278
                   August                1123
                   January               1044
                   February               971
Name: arrival_date_month, dtype: int64

In [9]:
# Посмотрите на числовые характеристики трёх колонок: adults, children и babies.
# Какая из них имеет наибольшее среднее значение?

bookings.groupby(['adults', 'children', 'babies'], as_index = False) \
    .agg({'adults': 'mean', 'children': 'mean', 'babies': 'mean'}) \
    .idxmax()

adults      40
children    23
babies      16
dtype: int64

In [10]:
# Создайте колонку total_kids, объединив столбцы children и babies.
# Для отелей какого типа среднее значение переменной оказалось наибольшим?

bookings['total_kids'] = bookings.children + bookings.babies
bookings.groupby(['hotel'], as_index = False) \
    .agg({'total_kids': 'mean'}) \
    .round(2)

          hotel  total_kids
0    City Hotel        0.10
1  Resort Hotel        0.14

In [64]:
# Не все бронирования завершились успешно (is_canceled), поэтому можно посчитать, сколько клиентов было потеряно в процессе.
# Иными словами, посчитать метрику под названием Churn Rate.
# Churn rate (отток, коэффициент оттока) – это процент подписчиков (например, на push-уведомления от сайта),
# которые отписались от канала коммуникации, отказались от услуг сервиса в течение определенного периода времени.
# Иными словами, представляет собой отношение количества ушедших пользователей к общему количеству пользователей,
# выраженное в процентах. В нашем случае Churn Rate - это процент клиентов, которые отменили бронирование.
# Давайте посмотрим, как эта метрика связана с наличием детей у клиентов!
# Создайте колонку has_kids, которая принимает значение True,
# если клиент при бронировании указал хотя бы одного ребенка (total_kids), в противном случае – False.
# Далее проверьте, среди какой группы пользователей показатель оттока выше.
# В качестве ответа укажите наибольший % оттока, округленный до 2 знаков после точки
# (то есть доля 0.24563 будет 24.56% и в ответ пойдёт 24.56)
bookings['has_kids'] = bookings.total_kids !=0
bookings.query('is_canceled == 1 & has_kids == True') \
.shape[0]
def churn_rate():
    result = bookings.query('is_canceled == 1 & has_kids == False').shape[0] / bookings.query('has_kids == False').shape[0] * 100 
    return result
round(churn_rate(), 2)

37.22

In [59]:
round(churn_rate(), 2)

34.31

In [ ]:
bookings.shape[0] =